# Books<a id="top"></a>

* [Format list to CSV](#format_csv)
* [Randomized Selection](#randomized_selection)

Select books for the book club.

# Format List to CSV<a id="format_csv"></a>

[top](#top)

Reformat a list from the internet into rows and columns.

In [4]:
# format locus list to be added to a spreadsheet
books = """1	Herbert, Frank : Dune (1965)	3930	256
2	Card, Orson Scott : Ender's Game (1985)	2235	154
3	Asimov, Isaac : The Foundation Trilogy (1953)	2054	143
4	Simmons, Dan : Hyperion (1989)	1843	132
5	Le Guin, Ursula K. : The Left Hand of Darkness (1969)	1750	120
6	Adams, Douglas : The Hitchhiker's Guide to the Galaxy (1979)	1639	114
7	Orwell, George : Nineteen Eighty-Four (1949)	1493	105
8	Gibson, William : Neuromancer (1984)	1384	100
9	Bester, Alfred : The Stars My Destination (1957)	1311	91
10	Bradbury, Ray : Fahrenheit 451 (1953)	1275	91
11	Heinlein, Robert A. : Stranger in a Strange Land (1961)	1121	75
12	Heinlein, Robert A. : The Moon Is a Harsh Mistress (1966)	1107	76
13	Haldeman, Joe : The Forever War (1974)	1095	83
14	Clarke, Arthur C. : Childhood's End (1953)	987	70
15	Niven, Larry : Ringworld (1970)	955	74
16	Le Guin, Ursula K. : The Dispossessed (1974)	907	62
17	Bradbury, Ray : The Martian Chronicles (1950)	902	63
18	Stephenson, Neal : Snow Crash (1992)	779	60
19	Miller, Walter M. , Jr. : A Canticle for Leibowitz (1959)	776	56
20	Pohl, Frederik : Gateway (1977)	759	58
21	Heinlein, Robert A. : Starship Troopers (1959)	744	53
22	Dick, Philip K. : The Man in the High Castle (1962)	728	54
23	Zelazny, Roger : Lord of Light (1967)	727	50
24	Wolfe, Gene : The Book of the New Sun (1983)	703	43
25	Lem, Stanislaw : Solaris (1970)	638	47
26	Dick, Philip K. : Do Androids Dream of Electric Sheep? (1968)	632	47
27	Vinge, Vernor : A Fire Upon The Deep (1992)	620	48
28	Clarke, Arthur C. : Rendezvous with Rama (1973)	588	44
29	Huxley, Aldous : Brave New World (1932)	581	42
30	Clarke, Arthur C. : 2001: A Space Odyssey (1968)	569	39
31	Vonnegut, Kurt : Slaughterhouse-Five (1969)	543	39
32	Strugatsky, Arkady & Boris : Roadside Picnic (1972)	518	36
33	Card, Orson Scott : Speaker for the Dead (1986)	448	31
34	Brunner, John : Stand on Zanzibar (1968)	443	33
35	Robinson, Kim Stanley : Red Mars (1992)	441	35
36	Niven, Larry (& Pournelle, Jerry) : The Mote in God's Eye (1974)	437	32
37	Willis, Connie : Doomsday Book (1992)	433	33
38	Atwood, Margaret : The Handmaid's Tale (1985)	422	32
39	Sturgeon, Theodore : More Than Human (1953)	408	29
40	Simak, Clifford D. : City (1952)	401	28
41	Brin, David : Startide Rising (1983)	393	29
42	Asimov, Isaac : Foundation (1950)	360	24
43	Farmer, Philip Jose : To Your Scattered Bodies Go (1971)	356	25
44	Dick, Philip K. : Ubik (1969)	355	25
45	Vonnegut, Kurt : Cat's Cradle (1963)	318	24
46	Vinge, Vernor : A Deepness in the Sky (1999)	315	22
47	Simak, Clifford D. : Way Station (1963)	308	24
48	Wyndham, John : The Day of the Triffids (1951)	302	24
49	Stephenson, Neal : Cryptonomicon (1999)	300	24
50*	Delany, Samuel R. : Dhalgren (1975)	297	19
50*	Keyes, Daniel : Flowers for Algernon (1966)	297	23
52	Bester, Alfred : The Demolished Man (1953)	291	21
53	Stephenson, Neal : The Diamond Age (1995)	275	21
54	Russell, Mary Doria : The Sparrow (1996)	262	20
55	Dick, Philip K. : A Scanner Darkly (1977)	260	18
56*	Asimov, Isaac : The Caves of Steel (1954)	259	20
56*	Banks, Iain M. : Use of Weapons (1990)	259	19
58	Strugatsky, Arkady & Boris : Hard to Be a God (1964)	258	17
59	Delany, Samuel R. : Nova (1968)	252	19
60	Crichton, Michael : Jurassic Park (1990)	245	19
61	Heinlein, Robert A. : The Door Into Summer (1957)	238	17
62	L'Engle, Madeleine : A Wrinkle in Time (1962)	215	18
63*	Clarke, Arthur C. : The City and the Stars (1956)	210	15
63*	Banks, Iain M. : The Player of Games (1988)	210	15
65	Bujold, Lois McMaster : Memory (1996)	207	15
66	Asimov, Isaac : The End of Eternity (1955)	205	15
67	Stewart, George R. : Earth Abides (1949)	204	14
68*	Heinlein, Robert A. : Double Star (1956)	203	14
68*	Burgess, Anthony : A Clockwork Orange (1962)	203	16
70	Bujold, Lois McMaster : Barrayar (1991)	202	14
71*	Stapledon, Olaf : Last and First Men (1930)	193	14
71*	McHugh, Maureen F. : China Mountain Zhang (1992)	193	16
73	Cherryh, C. J. : Cyteen (1988)	192	14
74	McCaffrey, Anne : Dragonflight (1968)	191	15
75	Heinlein, Robert A. : Citizen of the Galaxy (1957)	188	14"""
l=[[y.strip(")").strip("*") for w in b.split("\t") for x in w.split(":") for y in x.split("(")] for b in books.split("\n")] 
l
books = pd.DataFrame(l)
books=books.iloc[:,0:6]
books.columns=["place","author","title","year","points","votes"]
books.to_csv("locus_20_sf_novel.csv")

In [3]:
# format locus list to be added to a spreadsheet
import pandas as pd

books = """1	Scalzi, John : Old Man's War (2005)	734	105
2	Stephenson, Neal : Anathem (2008)	432	63
3	Bacigalupi, Paolo : The Windup Girl (2009)	367	58
4	Wilson, Robert Charles : Spin (2005)	305	49
5	Morgan, Richard : Altered Carbon (2002)	256	38
6	Watts, Peter : Blindsight (2006)	251	37
7	Collins, Suzanne : The Hunger Games (2008)	210	33
8	Gibson, William : Pattern Recognition (2003)	197	30
9	Mieville, China : The City & the City (2009)	193	29
10	Stross, Charles : Accelerando (2005)	187	31
11	Mitchell, David : Cloud Atlas (2004)	185	30
12	McDonald, Ian : River of Gods (2004)	181	29
13	Simmons, Dan : Ilium (2003)	155	24
14	McCarthy, Cormac : The Road (2006)	151	23
15	Harrison, M. John : Light (2002)	147	22
16*	Willis, Connie : Black Out/All Clear (2010)	142	20
16*	Chabon, Michael : The Yiddish Policemen's Union (2007)	142	23
18	Niffenegger, Audrey : The Time Traveler's Wife (2003)	137	23
19*	Ishiguro, Kazuo : Never Let Me Go (2005)	125	20
19*	Doctorow, Cory : Little Brother (2008	125	22
21	McDonald, Ian : The Dervish House (2010)	121	21
22	Vinge, Vernor : Rainbows End (2006)	120	21
23	Stephenson, Neal : The Baroque Cycle: The Confusion; The System of the World (2004)	119	19
24	Robinson, Kim Stanley : The Years of Rice and Salt (2002)	115	17
25	Mieville, China : Embassytown (2011)	97	14
"""
l=[[y.strip(")").strip("*") for w in b.split("\t") for x in w.split(":") for y in x.split("(")] for b in books.split("\n")] 
l
books = pd.DataFrame(l)
books=books.iloc[:,0:6]
books.columns=["place","author","title","year","points","votes"]
books.to_csv("locus_21_sf_novel.csv")

# Randomized Selection<a id="randomized_selection"></a>

[top](#top)

Load a spreadsheet with votes for books (exported to CSV). Consider all books with nonzero vote. Select a random book with weight proportional to the number of votes.

In [5]:
import pandas as pd
import logging
logging.getLogger().setLevel(logging.INFO)

# read file
books = pd.read_csv("../books_2020_03_15.csv")

# select relevant columns
books = books.iloc[:,[0,1,5]]

# rename columns
books.columns = ["title", "author", "score"]

# drop books with 0 and 100 score
books = books.loc[(books.score>0) & (books.score<200),:]

logging.info("Books considered: %s", len(books))

books

INFO:root:Books considered: 93

                              title     author  score
1                  Острова в океане  Хэмингуэй     14
2        Фиеста (И восходит солнце)  Хемингуэй      9
3                   Маленький принц   Экзюпери      9
4               Сто лет одиночества     Маркес      8
5                 Крейцерова соната    Толстой      7
..                              ...        ...    ...
89  Женщина французского лентенанта      Фаулз      1
90                            Волхв      Фаулз      1
91                  Гекльберри Финн       Твен      1
92                    Борис Годунов     Пушкин      1
93                    Гроздья гнева   Стейнбек      1

[93 rows x 3 columns]

In [8]:
import numpy as np

def weighted_choice(objects, weights):
    """ returns randomly an element from the sequence of 'objects', 
        the likelihood of the objects is weighted according 
        to the sequence of 'weights', i.e. percentages."""

    weights = np.array(weights, dtype=np.float64)
    sum_of_weights = weights.sum()
    # standardization:
    np.multiply(weights, 1 / sum_of_weights, weights)
    weights = weights.cumsum()
    x = np.random.random()
    for i in range(len(weights)):
        if x < weights[i]:
            return objects[i]

In [22]:
np.random.seed(None)
weighted_choice(books.title,books.score)

'Пошехонская старина'